<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-anime"></ion-back-button>
    </ion-buttons>
    <ion-title>Anilab</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text>
      <h1>{{(anime | async)?.titulo}}</h1>
      <h3>{{(anime | async)?.demografia}}</h3>
      <h5>Autor: {{(anime | async)?.autor}}</h5>
      <p>{{(anime | async)?.sinopse}}</p>
    </ion-text>

    <ion-item-divider></ion-item-divider>

    <ion-list>
      <ion-list-header>
        <ion-label>Comentários</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let message of listMessage | async">
        <ion-label>
            <h2>{{message.autor}}</h2>
            <p>{{message.conteudo}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item-divider></ion-item-divider>

    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input [(ngModel)]="message.autor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comentário</ion-label>
      <ion-textarea [(ngModel)]="message.conteudo"></ion-textarea>
    </ion-item>

    <ion-button expand="full" shape="round" color="medium" (click)="comentar()">Publicar</ion-button>

  </div>
</ion-content>
